@import "../reset.css";
body{
    margin-top: 10px;
}

header{
    height: 68px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
header>#logo{
    padding: 20px;
}
header>.menu>span{
    padding: 10px;
}
header>.menu>span:hover{
    color: gray;
}

#main_1{
    background-image: url("http://occ-0-993-3996.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABQjXH9o9c0HL0qrxVAGG_l9SIxIFJH74ypzSIBy4JNRYP9NznAxReHuWBLqJA4PyLM3RLmpCiuL46RFFdMPh-w7iQd0tyS0FIwAk.webp?r=790");
    max-width: 100%;
    height: 75vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.sec{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.sec>label{
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 10px;
}
.sec>.imgs{
    width: calc(100%-20px);
    height: 170px;
    overflow: scroll;
     /* 가로 스크롤 */
    overflow: auto;
    white-space: nowrap;
}

